<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

<!-- keyProperty="id", 把返回的主键值赋给dish的id   -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name , category_id, price, image, description, create_time, update_time, create_user, update_user,status)
        values(#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createIime}, #{updateIime}, #{createUser}, #{updateUser}, #{status})
    </insert>














</mapper>
